#valorDolar {
    color: bisque;
}
body{
    background-color: brown;
}
label{
    color: bisque;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: bisque;
    font-size : 25px;
    font-family: 'Times New Roman', Times, serif;
}